{% load static %}
<footer>
    <div class="container-fluid padding mt-2 bg-primary text-light">
        <div class="row text-center">
            <div class="col-md-4">
                <h3 class="mt-4">BookShop</h3>
                <hr class="light">
                <p>161-78787878</p>
                <p>info@thebookshop.com</p>
                <p>2 Azad Nagar</p>
                <p>Ludhiana, Punjab, 141016</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Office Hour</h5>
                <hr class="light">
                <p>Monday: 9am - 5pm</p>
                <p>Saturday: 11am - 4pm</p>
                <p>Sunday: 2pm - 5pm</p>
            </div>
            <div class="col-md-4">
                    <hr class="light">
                    <h5>Service Area</h5>
                    <hr class="light">
                    <p>Ludhiana, Punjab, 141016</p>
                    <p>Ludhiana, Punjab, 141016</p>
                    <p>Ludhiana, Punjab, 141016</p>
                    <p>Ludhiana, Punjab, 141016</p>
                </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; BookShop.com</h5>
            </div>
        </div>
    </div>
</footer>